@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Permanent+Marker|Special+Elite&display=swap');

body {
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    background: url('/images/friendly-reminder.jpg');
    background-size: cover;
    background-attachment: fixed; 
    margin: 0;
}

form {
    text-align: center;
    margin: 20px auto;
}

h2 {
    font-family: 'Permanent Marker';
    font-weight: 400;
}

/* input {
    margin: 5px;
    margin-bottom: 10px;
} */

.alert {
    background-color: #ff4545;
    text-align: center;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    padding: 5px;
    margin: 50px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.form-button {
    margin-top: 25px !important;
}

.about-container {
    width: 60%;
    margin: 20px auto;
    font-size: 16px;
    line-height: 200%;
}

#emailForm, #smsForm {
    width: 50%;
}

#loginForm, #registerForm {
    width: 30%;
}

#account-page {
    text-align: center;
}