.formContainer {
    margin: 0px auto;
    text-align: center;
    width: 66%;
}

#addEditFriendForm {
    width: 100%;
    margin-top: 0;
}

.textField {
    width: 100%;
    text-align: left;
}

h4 {
    margin: 10px 0 0 0;
    font-style: italic;
}