.dashboardContainer {
    text-align: center;
}

.statsContainer {
    text-align: center;
    padding-top: 50px;
}

.cardContainer {
    padding: 50px;
}

.dashboardCard {
    background-color: #eeeeee !important;
}

.nowBox, .overBox {
    padding: 20px;
    color: white;
    border-radius: 5px;
    margin: 10px;
}

.nowBox {
    background-color: #0277bd;
}

.overBox {
    background-color: #8e0000;
}

.cardIcon {
    min-width: 100px !important;
    min-height: 100px !important;
}

.cardActions {
    text-align: center !important;
    align-items: center !important;
    margin: 0px auto !important;
    padding: 0 100px 10px 100px !important;
}

.dashboard-message {
    margin: 25px 0 0 0;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
}

.pie-label {
    margin-bottom: 10px;
}

.card-header {
    margin: 50px 0 0 0;
}

.card-date {
    font-weight: 900;
}