.dashboardContainer {
    text-align: center;
}

.statsContainer {
    text-align: left;
}

.cardContainer {
    padding: 50px;
}

.nowCard {
    background-color: darkorange !important;
    color: white !important;
}

.overCard {
    background-color: darkred !important;
    color: white !important;
}