.dashboardContainer {
    text-align: center;
}

.statsContainer {
    text-align: left;
}

.cardContainer {
    padding: 50px;
}

.dashboardCard {
    background-color: antiquewhite !important;
}

.nowBox, .overBox {
    padding: 20px;
    color: white;
    border-radius: 5px;
    margin: 10px;
}

.nowBox {
    background-color: darkorange;
}

.overBox {
    background-color: darkred;
}

.cardIcon {
    min-width: 100px !important;
    min-height: 100px !important;
}

.cardActions {
    text-align: center !important;
    align-items: center;
}